{{define "title"}}Create a New Article{{end}}

{{ define "content" }}
    <section class="container md:max-w-lg mx-auto min-h-[60vh] py-12 px-4 max-w-sm">
        <h1 class="capitalize text-4xl text-gray-700 font-bold">Create new article</h1>
        <form action="/articles/create" method="post" class="w-full space-y-6 py-8" enctype="multipart/form-data">
           <div class="flex flex-col gap-1 relative">
                <input type="text" name="title" class="border border-gray-900 focus:rounded-none focus:outline-0 focus:border-main duration-300 w-full p-2 rounded-none"  value='{{.Form.Title}}' placeholder="Title">
                {{with .Form.FieldErrors.title}}
                    <small class="text-red-600 block absolute -bottom-5">{{.}}</small>
                {{end}}
           </div>
           <div class="flex flex-col gap-1 relative">
                <textarea type="text" name="content" rows="10" class="border border-gray-900 focus:rounded-none focus:outline-0 focus:border-main duration-300 w-full p-2 rounded-none" placeholder="Content">{{.Form.Content}}</textarea>
                {{with .Form.FieldErrors.content}}
                    <small class="text-red-600 block absolute -bottom-5">{{.}}</small>
                {{end}}
           </div>

           <div class="flex flex-col gap-1 relative">
                <input type="file" name="image" class="border border-gray-900 focus:rounded-none focus:outline-0 focus:border-main duration-300 w-full p-2 rounded-none " placeholder="Title">
                {{with .Form.FieldErrors.image}}
                    <small class="text-red-600 block">{{.}}</small>
                {{end}}
            </div>

            <div class="flex justify-end mt-4"> 
                <button type="submit" class="p-2.5 px-10 bg-main text-white border border-transparent hover:bg-transparent hover:border-main hover:text-main">
                    create
                </button>
            </div>
        </form>
    </section>
{{ end }}